html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans';
  height: 100%;
}

#__next { height: inherit; }

#__next > * {
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

#-login { 
  align-items: center;
  background-image: url("/imgs/backgrounds/login.png");
  display: flex;
  justify-content: space-around;
}

#-home { 
  background-image: url("/imgs/backgrounds/home.png"); 
  display: flex;
  justify-content: center;
  align-items: center;
}

#-resetpassword { 
  background-image: url("/imgs/backgrounds/resetpassword.png"); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-pass-link {
  font-size: 12px;
  color: #FCF9F8;
}

#email-checker { border-bottom: 1px solid; }

a { color: inherit; }

h1 { margin: 0; }

button {
  background-color: none;
  border: none;
}

@media (max-width: 590px) { 
  .login-card-img { display: none; }
}