@keyframes rightToLeft {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-160px);
  }
}

* {
  font-family: 'Noto Sans';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans';
  height: 100%;
}

#__next { height: inherit; }

#__next > * {
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  height: inherit;
  width: inherit;
}

#-login { 
  align-items: center;
  background-image: url("/imgs/backgrounds/login.png");
  display: flex;
  justify-content: space-around;
}

#-home { 
  background-image: url("/imgs/backgrounds/home.png"); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#-resetpassword { 
  background-image: url("/imgs/backgrounds/resetpassword.png"); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-pass-link {
  font-size: 12px;
  color: #FCF9F8;
}

#email-checker { border-bottom: 1px solid; }

#submit-article-div > button {
  margin-right: 5px;
}

#article-title {
  max-width: 170px;
  height: 28px;
}

#article-title > h1 {
  height: inherit;
  width: 700px;
  word-wrap: normal;
  animation-name: rightToLeft;
  white-space: nowrap;
  animation-duration: 4.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#disconnect-a {
  text-decoration: underline;
  color: #FCF9F8;
  font-size: 12px;
  cursor: pointer;
}

a { color: inherit; }

h1 { margin: 0; }

button {
  background-color: none;
  border: none;
}

textarea {
  padding: 3px 4px;
}

@media (max-width: 615px) { 
  .login-card-img { display: none; }
  #-home {
    height: auto;
  }
  #-home > div { 
    height: 900px;
  }
}