html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans';
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: #FCF9F8;
  text-decoration: none;
}

h1 {
  display: inline;
  margin: 0px;
  font-size: 40px;
  text-shadow: 0px 0px 6px;
}

h2 {
  font-size: 30px;
  color: #99A6B4;
  margin: 0px;
}

* {
  box-sizing: border-box;
}


button {
  color: black;
  border: none;
  font-size: 12px;
}

.link {
  text-decoration: underline;
  font-weight: 600;
  margin: 0px 8px;
  font-size: 10px;
  color: #FCF9F8;
}

footer {
  font-size: 20px;
  padding-bottom: 5px;
}

#email_password_reset { border-bottom: 1px #99A6B4 solid;}

#email_password_reset input { border-bottom: none; }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 750px) {
  .FormImg {
    display: none;
  }
  #LoginDiv {
    width: fit-content;
    height: fit-content;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  #LoginForm {
    width: 350px;
    height: 400px;
  }
}

@media (max-Width: 320px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  #LoginForm {
    width: 250px;
    height: 300px;
  }
}